supermicro-update-manager (0.0.1) stable; urgency=medium

  * This is not a normal changelog file. It gets updated in the packaging progress, by update.sh
  * The version is derived from the sum_*_Linux_x86_64_*.tar.gz filename.

 -- Andras Korn <korn-deb@elan.rulez.org>  Sun, 26 Aug 2018 19:33:40 +0200

