Source: supermicro-update-manager
Section: admin
Priority: optional
Maintainer: Your Name Here <root@localhost>
Build-Depends: debhelper (>= 5), devscripts, libdistro-info-perl
Standards-Version: 3.8.4
Homepage: https://www.supermicro.com/solutions/SMS_SUM.cfm

Package: supermicro-update-manager
Architecture: amd64
Depends: libc6
Recommends: fonts-dejavu-core, fonts-freefont-otf, ttf-bitstream-vera, fonts-cantarell, fonts-droid, ttf-mscorefonts-installer
Description: Proprietary command-line utility to manage Supermicro IPMI BMCs
 Supermicro Update Manager (SUM) can be used to manage the firmware and
 configuration for Supermicro X9 (Romley), X10, B10, X11, B11, H11 generation
 motherboards. SUM is a command line interface utility that can execute
 parallel commands from a centralized management server. Two channels are
 possible for management: the OOB (Out-Of-Band) channel, i.e. communication
 through the BMC/IPMI interface, and the in-band channel, i.e. communication
 through the local system interfaces. Through the OOB channel, most
 management commands can be executed independently of the OS on the managed
 system and even before the system OS is installed. SUM supports Linux,
 Windows, and FreeBSD. Thin Agent Service (TAS) required for some functions.
 Licensing: SFT-OOB-LIC or SFT-DCMS-Single required for each monitor node.
