#!/usr/bin/make -f

DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/^[[:digit:]]*://' -e 's/[~-].*//')

build: build-stamp
build-stamp:	
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp	
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Untar upstream version
	rm -Rf $(CURDIR)/debian/untar
	mkdir $(CURDIR)/debian/untar
	tar --directory $(CURDIR)/debian/untar -xzf sum_*_Linux_x86_64_*.tar.gz

	# Move relevant files into place
	mv $(CURDIR)/debian/untar/*/sum $(CURDIR)/debian/supermicro-update-manager/usr/lib/supermicro-update-manager/
	mv $(CURDIR)/debian/untar/*/ExternalData $(CURDIR)/debian/supermicro-update-manager/usr/lib/supermicro-update-manager/
	mv $(CURDIR)/debian/untar/*/SUM_UserGuide.pdf $(CURDIR)/debian/supermicro-update-manager/usr/share/doc/supermicro-update-manager/
	cat $(CURDIR)/debian/untar/*/ReleaseNote.txt | gzip -n -9 >$(CURDIR)/debian/supermicro-update-manager/usr/share/doc/supermicro-update-manager/RELEASE_NOTES.txt.gz
	gzip -n -9 <$(CURDIR)/supermicro-update-manager.8 >$(CURDIR)/debian/supermicro-update-manager/usr/share/man/man8/supermicro-update-manager.8.gz
	gzip -n -9 <$(CURDIR)/debian/changelog >$(CURDIR)/debian/supermicro-update-manager/usr/share/doc/supermicro-update-manager/changelog.Debian.gz
	install -m755 $(CURDIR)/supermicro-update-manager $(CURDIR)/debian/supermicro-update-manager/usr/sbin/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_install
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
